.info-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-wrapper{
    width: 100%;
    height: 800px;
    background-color: #61dafb;
}

.user-card{
    width: 100%;
    height: 70px;
    background-color: #FFF7BC;
    border-radius: 20px;

    display: flex;
    align-items: center;
}

.mt-27 {
    margin-top: 27px;
}

.avt{
    margin-left: 15px;
}

.user-ctn-wrapper{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.user-ctn-wrapper p{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.log-wrapper{
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background-color: darkslategray;
}

