.calendar-wrapper{
    height: 800px;
    /*background-color: chartreuse;*/
    padding: 0 30px;
}
/* 년 월 css */
.date-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px;

    font-size: 26px;
    font-weight: bold;
}

/* 요일 css */
.week-wrapper{
    margin-top: 35px;
    display: flex;
}

.week-wrapper > .box-week{
    width: 100px;
    margin: 0 20px;
}

.week-wrapper * .font-week{
    font-size: 26px;
    font-weight: bold;
}

.font-red{
    color: red;
}

.font-blue{
    color: blue;
}

.hr-line{
    margin-top: 12px;
    border: 1px solid black;
}

/* 일자 css */
.day-wrapper{
    margin: 20px 0;
}

.day-wrapper > .row {
    /*margin: 10px 0;*/
    display: flex;
}

.day-wrapper * .box-day {
    /*margin: 0 20px;*/
    margin-left: -1px;
    margin-top: -1px;
    width: 140px;
    height: 120px;
    background-color: white;
    /*border-radius: 15px;*/
    border-width: 1px;
    border-color: #DCDCDC;
    border-style: solid;
}

.day-wrapper * .greyed {
    color: grey;
}

.day-wrapper * .selected {
    border: 1px solid coral;
}

.day-wrapper * .font-day {
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
}
