.main-wrapper {
    margin: 0 140px;
}

/* 헤더 스타일 시작 */
.main-header-wrap{
    display: flex;
    align-items: center;
    width: 1440px;
    height: 100%;
}

.main-header{
    font-weight: bold;
    font-size: 30px;
}
/* 헤더 스타일 끝 */

/* 컨테이너 시작 */
/* 컨테이너 끝 */