.main-wrapper {
    width: 1440px;
    margin: 0 auto;
}

/* 헤더 스타일 시작 */
.main-header-wrap{
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 1400px;
    height: 100%;
}

.main-header{
    font-weight: bold;
    font-size: 26px;
}
/* 헤더 스타일 끝 */

/* 컨테이너 시작 */
/* 컨테이너 끝 */
